* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.container {
    background-color: #E87722;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.rightside {
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 10px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.links a:hover {
    transition: calc(.4s);
    transform: scale(1.1);
    border-bottom: white solid 4px;
}

.social {
    display: flex;
    gap: 30px;
    align-items: center;
}
.social a {
    color: white;
    text-decoration: none;
}


.leftside {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.leftside h1 {
    color: white;
    font-size: 20px;
}

.leftside img {
    width: 40px;
    height: 40px;
}
.leftside img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: calc(.3s);
}

.finalside {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 260px;
    height: 20px;
    align-items: center;
    gap: 10px;
    display: flex;
}

.finalside a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.finalside a:hover {
    transition: calc(.3s);
    transform: scale(1.05);
}

